body{
   background-color: rgb(250, 215, 225); 
}
h1{
    background-color: aliceblue;
}
p{
    color: brown;
}
h2{
    background-color: aliceblue;
    color: rgb(24, 21, 21);
}
ul{
    color: rgb(4, 4, 5);
}



